In [9]:
import os
import time
import platform
import datetime
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver as wd
from IPython.display import clear_output

In [10]:
df = pd.read_csv("2018 ~ 2020 사고 데이터/2019_사고.csv", encoding='cp949')

In [15]:
df['crwal'] = df['lat'] + ',' + df['lon']
df1 = df['crwal']
df1

0                37.517387,127.1435515
1                37.558317,127.1720769
2                      37.2261,126.875
3        37.5164472555256,126.98778597
4                     37.2979,127.0544
                     ...
63483            36.4449729,127.405034
63484                 37.2462,127.1039
63485                 36.2888,127.3174
63486                 36.8933,126.7076
63487                 36.0126,127.1042
Name: crwal, Length: 63488, dtype: object

In [11]:
chromedriver ='c:/chromedriver.exe'

if platform.system() == 'Darwin': 
    driver = wd.Chrome(chromedriver)
    driver.implicitly_wait(2)
else :    
    driver = wd.Chrome(chromedriver)
    driver.implicitly_wait(2)

In [13]:
URL = 'https://www.google.co.kr/maps/@37.053745,125.6553969,5z?hl=ko'
driver.get(URL)

data_dict = {'권역': []}


Start = time.time()

# df1[:20] : 20개로 테스트. --> 전부 수집시 df1으로 수정.
for idx, num in enumerate(df1[:20]) :
    driver.find_element_by_xpath('//*[@id="searchboxinput"]').send_keys(f'{num}')
    driver.find_element_by_xpath('//*[@id="searchbox-searchbutton"]').click()
    time.sleep(4)

    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')

    a1 = soup.select_one('#pane > div > div.widget-pane-content.cYB2Ge-oHo7ed > div > div > div:nth-of-type(8)\
                         > div > div.section-info-line > span.section-info-text > span.widget-pane-link')
    a2 = a1.text.split()[-1]

    data_dict['권역'].append(a2) 
    
    clear_output(wait=True)
    print( f'{idx + 1}/{df1.shape[0]}번째 수집중')
    
    driver.find_element_by_xpath('//*[@id="searchboxinput"]').clear()

data = pd.DataFrame(data_dict)

data_dir = './test1/'
if not os.path.isdir(data_dir) : 
    os.mkdir(data_dir)
    
if os.path.exists(data_dir + 'data_권역.csv') == False :
    data.to_csv(data_dir + 'data_권역.csv', encoding='utf-8-sig', index=False)
else :
    data.to_csv(data_dir + 'data_권역.csv', encoding='utf-8-sig', index=False, header=False, mode='a')


End = time.time()   
print(f'수집완료({datetime.timedelta(seconds = End - Start)})')

20/63488번째 수집중
수집완료(0:01:27.977238)

In [14]:
df2 = pd.read_csv('test1/data_권역.csv')
df2

       권역
0   서울특별시
1   서울특별시
2     경기도
3   서울특별시
4   서울특별시
5   서울특별시
6   서울특별시
7   서울특별시
8   서울특별시
9   서울특별시
10  서울특별시
11  서울특별시
12  서울특별시
13  서울특별시
14  서울특별시
15  서울특별시
16  서울특별시
17  서울특별시
18  서울특별시
19  서울특별시

In [ ]:
df3 = pd.concat([df, df2])
df3.to_csv('2019_전처리 데이터.csv', encoding='cp949', index=False, header=True)